<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Route Data Manager</title>
@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RouteDataManager.styles.css" asp-append-version="true" />*@


    <!-- RAVELLER TEMPLATE-->
      <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
@*    <link href="css/style.css" rel="stylesheet">
*@
      <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

             @*<a class="nav-link text-dark" asp-area="" asp-controller="Lines" asp-action="Index">Railway Lines</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Branches" asp-action="Index">Railway Branches</a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stations" asp-action="Index">Railway Stations</a>*@

     <!-- Navbar Start -->
     <header>
        <nav>
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL</span>ER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link nav-link" asp-area="" asp-controller="Country" asp-action="Index">Countries</a>
                        <a class="nav-link nav-link" asp-area="" asp-controller="Destinations" asp-action="Index">Destinations</a>
                        <a class="nav-link nav-link" asp-area="" asp-controller="Airports" asp-action="Index">Airports</a>

                        <a class="nav-link nav-link" asp-area="" asp-controller="Frontiers" asp-action="Index">Frontiers</a>
                        <a class="nav-link nav-link" asp-area="" asp-controller="Visas" asp-action="Index">Visas</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Railway Systems</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a class="nav-link nav-link" asp-area="" asp-controller="RailwaySystems" asp-action="Index">Railway Maps</a>
                                <a class="nav-link nav-link" asp-area="" asp-controller="Lines" asp-action="Index">Railway Lines</a>
                                <a class="nav-link nav-link" asp-area="" asp-controller="Branches" asp-action="Index">Railway Branches</a>
                                <a class="nav-link nav-link" asp-area="" asp-controller="Stations" asp-action="Index">Railway Stations</a>

                            @*   <a href="single.html" class="dropdown-item">Blog Detail</a>
                                <a href="destination.html" class="dropdown-item">Destination</a>
                                <a href="guide.html" class="dropdown-item">Travel Guides</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>*@
                            </div>
                        </div>
                       @* <a href="contact.html" class="nav-item nav-link">Contact</a>*@
                    </div>
                </div>
            </nav>
        </div>
    </div>
     </nav>
    </header>
    <!-- Navbar End -->



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Route Data Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@


     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
