@model Traveller.Domain.Frontier


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Creating new Frontier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginID" class="control-label"></label>
                <select asp-for="OriginID" class ="form-control" asp-items="ViewBag.OriginID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinalID" class="control-label"></label>
                <select asp-for="FinalID" class ="form-control" asp-items="ViewBag.FinalID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="FrontierType" class="control-label"></label>
                <select asp-for="FrontierType" class="form-control" asp-items="ViewBag.FrontierTypes"></select>
                <span asp-validation-for="FrontierType" class="text-danger"></span>
            </div>
              <div class="form-group">
                   <table>
                    <tr>
                        <td>
                            <input type="submit" value="Create" class="btn btn-primary btn-block" />
                        </td>
                        <td>
                            <a class="btn btn-primary btn-block" asp-action="Index">Back to List </a>

                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

</body>
</html>
