@using Traveller.Application.Dto
@model CountryDto

@{
    ViewData["Title"] = "Delete";
}

<h4>Are you sure you want to delete this Country?</h4>
<hr />
<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <table>
            <tr>
                <td>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </td>
                <td>
                <a asp-action="Index" class="btn btn-primary btn-block">Back to List</a>
                </td>
            </tr>
        </table>
    </form>

</div>
