@model Traveller.Domain.BorderCrossing




<h4>Frontier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorderCrossingID" />
            <div class="form-group">
                <label asp-for="OriginID" class="control-label"></label>
                <select asp-for="OriginID" class="form-control" asp-items="ViewBag.OriginID"></select>
                <span asp-validation-for="OriginID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalID" class="control-label"></label>
                <select asp-for="FinalID" class="form-control" asp-items="ViewBag.FinalID"></select>
                <span asp-validation-for="FinalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontierType.BorderCrossingTypeID" class="control-label"></label>
                <select asp-for="FrontierType.BorderCrossingTypeID" class="form-control" asp-items="ViewBag.FrontierTypes" ></select>
                <span asp-validation-for="FrontierType.BorderCrossingTypeID" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                              <input class="btn btn-primary btn-block" type="submit" value="Save" />

                        </td>
                        <td>
                                <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>

                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>



